


/*Navbar stuff */

.navbar{
  border: 0px;
  border-radius: 0px;
  color: white;
}

.navbar-default{
  background-color: #121c44;
}

.navbar-default .navbar-nav>li>a{
  color: white;
}

.navbar-default .navbar-brand {
    color: white;
}


.collection-container {
  border-style: solid;
  /*padding: 20px;*/
  margin: 3px;
  border-color: #121c44;

}

.home-container{
  margin: 20px;
  text-align: center;ß
  display: block;
}

.room-box{
  max-width: 300px;
}

.search-bar{
  width: 300px;
  display: -webkit-inline-box;
  margin-bottom: 10px;
}
