<html>
	<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.js"></script>
  <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>


	<body style="font-family:Karla;">

     <h1> Dashboard </h1>

     <p> This page will show you data associated with a room </p>

	   <canvas id="myChart" width="1600" height="700"></canvas>

	</body>
	<script>


  $.get("/viewDB/roomdata/" + "Room 1.05", function(data){
    console.log(data);
    var dataSet = {
      'heat' : [],
      'noise': [],
      'lighting': [],
      'people': []
    };
    var labels = [];

    for(x = 0; x < 4; x++){
      dataSet['heat'].push(data[x]['data'][0]['heat']);
      dataSet['noise'].push(data[x]['data'][0]['noise']);
      dataSet['lighting'].push(data[x]['data'][0]['lighting']);
      dataSet['people'].push(data[x]['data'][0]['people']);

      var date = new Date(data[x]['data'][0]['timeStamp']);
      var time = date.getHours() + ":" + date.getMinutes();
      labels.push(time);

    }

    createGraph(dataSet,labels);

  });

  function createGraph(dataSet, labels){
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Heat',
                data: dataSet['heat'],
                borderColor: '#E59F30',
                backgroundColor: '#E59F30',
                fill: false
            },
            {
                label: 'Noise',
                data: dataSet['noise'],
                borderColor: '#121c44',
                backgroundColor: '#121c44',

                fill: false
            },
            {
                label: 'Lighting',
                data: dataSet['lighting'],
                borderColor: '#0FA3B1',
                backgroundColor: '#0FA3B1',
                fill: false
            },
            {
                label: 'Number of people',
                data: dataSet['people'],
                borderColor: '#D81E5B',
                backgroundColor: '#D81E5B',
                fill: false
            }
          ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        //beginAtZero:true
                    }
                }]
            }
        }
    });
  }


	</script>


</html>
