<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../">iot-roomie</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="../">Home</a></li>
          <li><a href="/findRoom">Free rooms</a></li>
          <li><a href="/findPerson">Find Someone</a></li>
          <li><a href="/dashboard">Room Data</a></li>
          <li><a href="/registerMac">Register yourself</a></li>
        </ul>
      </div>
    </nav>
    <div class="home-container">
      <div class="row">
        <a href="/findRoom" class="collection-container col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <h3> Find a free room </h3>
        </a>
        <a href="/dashboard" class="collection-container col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <h3> Room Statistics </h3>
        </a>
        <a href="/findPerson"class="collection-container col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <h3> Find someone </h3>
        </a>
        <a href="/registerMac" class="collection-container col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <h3> Register yourself </h3>
        </a>
      </div>
  </div>
  </body>
</html>
